.form-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.errorMessage {
    color: red
}

.successMessage {
    color: green
}